<!--包含头部文件-->
{include file="public/header" /}
<div class="cl pd-5 bg-1 bk-gray mt-20"> 添加团购商品信息</div>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" method="post" action="{:url('deal/add')}">
	基本信息：
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>团购名称：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="name">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属城市：</label>
			<div class="formControls col-xs-8 col-sm-2"> 
				<span class="select-box">
				<select name="city_id" class="select cityId">
					<option value="0">--请选择--</option>
				{volist name='citys' id='vo'}
					<option value="{$vo.id}">{$vo.name}</option>
				{/volist}
				</select>
				</span>
			</div>
			<div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="sec_city_id" class="select sec_cityId">
				</select>
				</span> 
			</div>
			<div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="thr_city_id" class="select thr_cityId">
				</select>
				</span> 
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属分类：</label>
			<div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="category_id" class="select categoryId">
					<option value="0">--请选择--</option>
				{volist name='categorys' id='vo'}
					<option value="{$vo.id}">{$vo.name}</option>
				{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所属子类：</label>
			<div class="formControls col-xs-8 col-sm-3 skin-minimal">
				<div class="check-box sec_category_id">

				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-9 col-sm-2">支持门店：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
			{volist name='locations' id='vo'}
				<input name="location_ids[]" type="checkbox" id="checkbox_{$vo.id}" value="{$vo.id}"/>
				<label for="checkbox_{$vo.id}">&nbsp;{$vo.name}</label>
			{/volist}
				</div>
			</div>
		</div>
	
		<div class="row cl">
              <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input id="file_upload"  type="file" multiple="true" >
                <img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
                <input id="file_upload_image" name="image" type="hidden" multiple="true" value="">
              </div>
        </div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">团购开始时间：</label>
			<div class="formControls col-xs-8 col-sm-3">
				
				<input type="text" name="start_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value=""  > 

			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">团购结束时间:</label>
			<div class="formControls col-xs-8 col-sm-3">
				
				<input type="text" name="end_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value=""  >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">库存数:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="total_count">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">原价:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="origin_price">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">团购价:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="current_price">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">消费券生效时间：</label>
			<div class="formControls col-xs-8 col-sm-3">
				
				<input type="text" name="coupons_begin_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value=""  >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">消费券结束时间:</label>
			<div class="formControls col-xs-8 col-sm-3">
				
				<input type="text" name="coupons_end_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value=""  >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">团购描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
<!-- 				<script id="editor"  type="text/plain" name="description" style="width:80%;height:300px;"></script> 
 -->
 			<input type="text" name="description" class="input-text" id="countTimestart">
 			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">购买须知：</label>
			<div class="formControls col-xs-8 col-sm-9">
<!-- 				<script id="editor2"  type="text/plain" name="notes" style="width:80%;height:300px;"></script> 
 -->
 				<input type="text" name="notes" class="input-text" id="countTimestart">
 			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 申请</button>	
			</div>
		</div>
	</form>
</article>
<script>
/**定义页面全局变量**/
var SCOPE = {
	'get_city_list' : '{:url('api/index/getCityList')}',
	'get_category_list' : '{:url('api/index/getCategoryList')}',
	'uploadify_swf' : '_STATIC_admin/uploadify/uploadify.swf',
	'image_upload' : '{:url('api/image/upload')}',
	'get_lnglat' : '{:url('api/index/getlnglat')}', 
};

</script>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="_STATIC_admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="_STATIC_admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="_STATIC_admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script src="_STATIC_admin/hui/lib/My97DatePicker/WdatePicker.js"></script>
<script>
// 关于日期插件My97 DatePicker与Think php模版标签冲突的解决方法
function selecttime(flag){
   if(flag==1){
    	var endTime = $("#countTimeend").val();
	    if(endTime != ""){
	        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})
	    }else{
	        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})
	    }
	}else{
	    var startTime = $("#countTimestart").val();
	    if(startTime != ""){
	        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})
	    }else{
	        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'});
	    }
	}
}

$(function(){
	var ue = UE.getEditor('editor');
	var ue = UE.getEditor('editor2');
	// 默认所属二级三级城市的选择器为隐藏
	$('.sec_cityId').parent().hide();
	$('.thr_cityId').parent().hide();
	// 如果之前上传过图片，回退后表单中有上次上传的路径信息，则显示图片
	var upload = $('#file_upload_image').val()
	var upload_other = $('#file_upload_image_other').val();
	if(upload  != ''){
		$('#upload_org_code_img').attr('src', upload).show();
	}
	if(upload_other != ''){
		$('#upload_org_code_img_other').attr('src', upload_other).show();
	}
	
});
</script>
</body>
</html>