<!--包含头部文件-->
{include file="public/header" /}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 城市管理 <span class="c-gray en">&gt;</span> 城市列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" onclick="o2o_s_edit('添加城市','{:url('city/add')}','','300')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加城市</a></span> <span class="r"></span> </div>
	<div class="tp5-pagination cl pd-5 bg-1 bk-gray mt-20">
	中国&nbsp;&gt;&nbsp;  {//showCityStructure}
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="30"><input name="" type="checkbox" value=""></th>
					<th width="60">ID</th>
					<th width="100">城市名称</th>
					<th width="100">英文名</th>
					<th width="50">排序序号</th>
					<th width="120">新增时间</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="citys" id="vo"}
				<tr class="text-c">
					<td><input name="id" type="checkbox" value="{$vo.id}"></td>
					<td>{$vo.id}</td>
					<td>{$vo.name}</td>
					<td>{$vo.uname}</td>
					<td class="text-c listorder"><input type="text" name="listorder" value="{$vo.listorder}" size ="3" attr-id="{$vo.id}"></td>
					<td>{$vo.create_time|date="Y-m-d H:i",###}</td>
					<td class="td-manage"><a href="{:url('city/index',['parent_id'=>$vo.id])}">获取子栏目</a><a style="text-decoration:none" class="ml-5" onClick="o2o_s_edit('编辑','{:url('city/edit', ['id'=>$vo.id])}','',300)" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="o2o_del('{:url('city/delete',['id'=>$vo.id])}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
{$citys|showRender}
<script type="text/javascript">
	var SCOPE = {
		'listorder_url' :"{:url('city/listorder')}",
	};

</script>
<!--包含脚部文件-->
{include file="public/footer" /}
	